.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/images/background-one.jpeg');
  display: flex;
  flex-direction: column;
}

/* styling for nav bar */

#navWrap {
  background: linear-gradient(90deg, rgba(213,107,255,0.8) 0%, rgba(64,224,208,0.8) 35%, rgba(6,248,66,0.8) 63%, rgba(216,112,147,0.8) 88%);
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  height: 20px;
}
nav li{
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navItem {
  text-decoration: none;
}

/* styling for Catcher component; animation to open and close */

.catcherWrap {
  height: 100%;
  display: flex;
  justify-content: center;
  rotate: 45deg;
  -webkit-animation: spin-div 30s ease-in-out infinite both;
	animation: spin-div 30s ease-in-out infinite both;
  
}

.bottomDiamond {
  background-image: url(./assets/images/catcher-background.jpg) ;
  background-position: center;
  height: 400px;
  width: 400px;
}

.topTriangle {
  width: 0;
  height: 0; 
}

#top {
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-top: 200px solid rgba(213, 107, 255);
  position: absolute;
  -webkit-animation: top-lift 2s ease-in-out infinite both;
  animation: top-lift 2s ease-in-out infinite both;
}

#right {
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-right: 200px solid transparent;
  border-left: 200px solid #40e0d0;
  position: absolute;
  -webkit-animation: right-lift 2s ease-in-out infinite both;
	animation: right-lift 2s ease-in-out infinite both;
}

#bottom {
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 200px solid transparent;
  border-bottom: 200px solid #06f842;
  position: absolute;
  -webkit-animation: bottom-lift 2s ease-in-out infinite both;
	animation: bottom-lift 2s ease-in-out infinite both;
}

#left {
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-left: 200px solid transparent; 
  border-right: 200px solid #d87093;
  position: absolute;
  -webkit-animation: left-lift 2s ease-in-out infinite both;
	animation: left-lift 2s ease-in-out infinite both;
}
 /* here is where the animation begins; this rotates the main Catcher */
@keyframes spin-div {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* these below lift the top "triangle" divs; I couldn't figure
out how to make them all work with one.*/

@keyframes top-lift {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@keyframes right-lift {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform: rotateY(70deg);
            transform: rotateY(70deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

@keyframes bottom-lift {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  50% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

@keyframes left-lift {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  50% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: right;
            transform-origin: rightt;
  }
  100% {
    -webkit-transform: rotateY(70deg);
            transform: rotateY(70deg);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

/* below is the styling for each "page" component used for routes */

/* Instructions Page */

#instructions-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.instructions-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.685);
  width: 50%;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#inner-instructions-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 20%;
  background: linear-gradient(-180deg, rgba(213,107,255,0.8) 0%, rgba(64,224,208,0.8) 35%, rgba(6,248,66,0.8) 63%, rgba(216,112,147,0.8) 88%);
  border-radius: 5%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.instruction-titles {
  font-weight: bold;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
}

/* Divinations Page  and it's components */

#divinations-page {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
}

#divinations-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height: 50%;
  background: linear-gradient(0deg, rgba(213,107,255,0.8) 0%, rgba(64,224,208,0.8) 35%, rgba(6,248,66,0.8) 63%, rgba(216,112,147,0.8) 88%);
  /* background-color: aquamarine; */
}

#divinations-center {
  display: flex;
  /* background-color: yellow; */
  justify-content: center;
  width: 100%;
  height: 50%;
}

#divinations-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50%;
  background: linear-gradient(0deg, rgba(213,107,255,0.8) 0%, rgba(64,224,208,0.8) 35%, rgba(6,248,66,0.8) 63%, rgba(216,112,147,0.8) 88%);
  /* background-color: tomato; */
}

#divinations-right div {
  /* background-color: rgba(255, 255, 255); */
  height: 25%;
  width: 100%;
  padding: 10px;
}

/* Ask Codey "page" and it's components */

#askcodey-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100%;
}

#askcodey-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  max-height: 15%;
  min-height: 50px;
  background: linear-gradient(0deg, rgba(213,107,255,0.8) 0%, rgba(64,224,208,0.8) 35%, rgba(6,248,66,0.8) 63%, rgba(216,112,147,0.8) 88%);
  /* background-color: aquamarine; */
}

#askcodey-center {
  display: flex;
  /* background-color: yellow; */
  justify-content: center;
  width: 100%;
  height: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
}

#askcodey-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 15%;
  background: linear-gradient(0deg, rgba(213,107,255,0.8) 0%, rgba(64,224,208,0.8) 35%, rgba(6,248,66,0.8) 63%, rgba(216,112,147,0.8) 88%);
  /* background-color: tomato; */
}

#askcodey-result{
  /* background-color: rgba(255, 255, 255); */
  height: 80%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
}

#questioninput-wrap {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#questioninput-wrap input{
  width: 60%;
  max-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#questioninput-wrap button{
  width: 10%;
  height: 25%;
}

/* Love or Loss page and it's components */

#love-or-loss-page {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
}

#love-loss-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height: 50%;
  background: linear-gradient(0deg, rgba(213,107,255,0.8) 0%, rgba(64,224,208,0.8) 35%, rgba(6,248,66,0.8) 63%, rgba(216,112,147,0.8) 88%);
  /* background-color: aquamarine; */
}

#love-loss-center {
  display: flex;
  /* background-color: yellow; */
  justify-content: center;
  width: 100%;
  height: 50%;
}

#love-loss-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50%;
  background: linear-gradient(0deg, rgba(213,107,255,0.8) 0%, rgba(64,224,208,0.8) 35%, rgba(6,248,66,0.8) 63%, rgba(216,112,147,0.8) 88%);
  /* background-color: tomato; */
}







