.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/images/background-one.jpeg');
}

/* styling for nav bar */

#navWrap {
  background-color: rgba(213, 107, 255, 0.89);
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  height: 20px;
}
nav li{
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navItem {
  text-decoration: none;
}

/* styling for Catcher component; animation to open and close */

.catcherWrap {
  height: 100%;
  display: flex;
  justify-content: center;
  rotate: 45deg;
  -webkit-animation: spin-div 30s ease-in-out infinite both;
	animation: spin-div 30s ease-in-out infinite both;
  
}

.bottomDiamond {
  background-image: url(./assets/images/catcher-background.jpg) ;
  height: 400px;
  width: 400px;
}

.topTriangle {
  width: 0;
  height: 0; 
}

#top {
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-top: 200px solid rgba(213, 107, 255);
  position: absolute;
  -webkit-animation: tab-lift 1s ease-in-out infinite both;
	animation: tab-lift 1s ease-in-out infinite both;
}

#right {
  border-left: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 200px solid turquoise;
  position: absolute;
  rotate: 90deg;
}

#bottom {
  border-left: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 200px solid rgb(6, 248, 66);
  position: absolute;
  rotate: 180deg;

}

#left {
  border-left: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-right: 200px solid transparent; 
  border-top: 200px solid palevioletred;
  position: absolute;
  rotate: 270deg;
}
 /* here is where the animation begins; this rotates the main Catcher */
 @keyframes spin-div {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* these below lift the top "triangle" divs; I couldn't figure
out how to make them all work with one.*/

@keyframes tab-lift {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}



